{
  "data-root": "/etc/docker/storage",
  "exec-opts": ["native.cgroupdriver=systemd"],
  "registry-mirrors": [
    "https://kuamavit.mirror.aliyuncs.com"
  ], 
  "max-concurrent-downloads": 10,
  "live-restore": true,
  "log-driver": "json-file",
  "log-level": "warn",
  "log-opts": {
    "max-size": "50m",
    "max-file": "1"
    },
  "storage-driver": "overlay2"
}