hostname: {{ ansible_facts['hostname'] }}
system: {{ ansible_facts['distribution'] }}
kernel: {{ ansible_facts['kernel'] }}
machine: {{ ansible_facts['machine'] }}
memtotal: {{ ansible_facts['memtotal'] }}
processor: {{ ansible_facts['processor'] }


